<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
            <button class="btn btn-primary" (click)="onToogleDetails()">Display Details</button>
            <p *ngFor="let logItem of log; let i=index; " [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}" 
                [ngClass]="{'white-Text':i>=4}">{{logItem}}</p>

            <p *ngIf="showSecret">Secret Password = tuna</p>
        </div>
    </div>
</div>